data/SoulChatCorpus/*.json filter=lfs diff=lfs merge=lfs -text
data/quality_data/data_source/*.json filter=lfs diff=lfs merge=lfs -text
data/quality_data/data_source/*.csv filter=lfs diff=lfs merge=lfs -text
data/quality_data/data_source/*.xlsx filter=lfs diff=lfs merge=lfs -text
data/quality_data/data_source/*.zip filter=lfs diff=lfs merge=lfs -text
data/processed/*.jsonl filter=lfs diff=lfs merge=lfs -text
data/processed/sft_stage1/*.jsonl filter=lfs diff=lfs merge=lfs -text
data/processed/sft_stage2/*.jsonl filter=lfs diff=lfs merge=lfs -text
data/processed/eval/*.jsonl filter=lfs diff=lfs merge=lfs -text
